*{
  padding: 0px;
  margin: 0px;
}

html{
  scroll-behavior: smooth;
}

body
{
background-color:#222425;
}

li ,a {
text-decoration: none;
color: blanchedalmond;
font-family: 'Spartan';
font-size: 16px;
}


.navbar{
display: flex;
flex-grow: 1;
padding: 30px 10%;
justify-content: flex-end;
position: relative;
}


.navbar button{
margin-left: 25px;
padding-left: 59px;
padding-bottom:13px;
padding-top:13px;
padding-right: 59px;
background-color:rgba(198, 204, 115, 0.842);
border:none;
color: black;
border-radius: 50px;
cursor: pointer;
font-family: 'Spartan';
font-size: 16px;
}

.navbar button:hover{
background-color: rgb(129, 120, 138);

 
}

#header{
display: flex;
}

#logo{
width: 418px;
height: 97px;
display: flex;
justify-content: center;
align-items: center;
background-color: #f7b731;
font-size: 20px;
margin-bottom: 63px;
}

#logo p{
font-size: 20px;
position: relative;
color: #2f3640;
right: 76px;
font-family: 'Montserrat';
}

#logo i{
color: #2f3640;
margin-right: 15px;
position: relative;
right: 76px;
}

#container1{
background-image: url('./images/container1.jpg');
background-size : cover;
background-attachment: fixed;
background-position: center;
color: white;
display: flex;
justify-content: center;
align-items: center;
/* border: 2px solid green; */
margin-left: 40px;  
margin-right: 40px;
height: 855px;

}

#heading{
color: white;
position: relative;
font-size: 72px;
right: 30px;
top: -6px;
font-family: 'Raleway';

}

#caption{
color: rgb(26, 24, 24);
position:relative;
font-size: 31px;
right: 17px;
top: 14px;
font-family: 'Quicksand';
}


#social {
position: relative;
right: 641px;
top: 235px;
}

#social i{
padding: 10px 20px;
font-size: 43px;
}

.demo button{
position: relative;
right: 472px;
top: 361px;
padding-left: 59px;
padding-bottom:13px;
padding-top:13px;
padding-right: 59px;
background-color:rgba(198, 204, 115, 0.842);
border:none;
color: black;
border-radius: 50px;
cursor: pointer;
transition: transform .2s;
text-align: center;
font-family: 'Spartan';
font-size: 16px;
}

.demo button:hover {
transform: scale(1.5);

}


#container2{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 547px;
background-image: url('./images/container2.3.png');
background-size : cover;
background-attachment: fixed;
background-position: center;
margin-top: 45px;
}

#start{
font-size: 66px;
color: #c7ecee;
position: relative;
bottom: 79px;
font-family: 'Cabin';
}

#courses{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
position: relative;
top: 7px;
}

#box{
display: flex;
flex-direction: column;
justify-content: left;
padding: 20px;
}

#box-middle{
display: flex;
flex-direction: column;
padding: 20px;
margin-left: 165px;
margin-right: 165px;
}

#title{
font-family: 'Bungee';
font-size: 50px;
color: #f6e58d;
}

#subtitle{
font-family: 'Josefin Sans';
color: #e77f67;
font-size: 20px;
position: relative;
bottom: 18px;
left: 14px;
}

#container3{
display: flex;
margin-top: 96px;
margin-left: 67px;
margin-right: 70px;  

}

#image1{
width: 657px;
height: 600px;
margin-right: 20px;
}

#image2{
width: 657px;
height:600px ;
margin-left:45px ;
}

.sub{
color: white;
height: 157px;
width: 372px;
position: relative;
top: -452px;
left: 222px;
text-align: left;
}

.sub p{
font-size: 30px;
font-family: 'Jost';
}

#container4{
display: flex;
position: relative;
bottom: 60px;
}

#contact-us{
text-align: center;
background-color: #f6e58d;
}

#visit-us{
text-align: center;
background-color: #eb4d4b;
}

#tell-us{
text-align: center;
background-color: rgb(107, 124, 119);
}

#contact-us, #visit-us, #tell-us{
height: 500px;
width: 700px;
}

#header-1{
font-size: 45px;
position: relative;
top: 74px;
font-family: 'Comfortaa';
}

#content-1{
font-family: 'Zilla Slab';
position: relative;
top: 177px;
}

#rect{
height: 11px;
width: 59px;
background-color: #222425;
position: relative;
left: 227px;
top: 106px;
}

#first{
background-color: #e77f67;
height: 200px;
width: 361px;
position: relative;
top: 153px;
left: 76px;
}

#textarea{
position: relative;
top: -2px;
left: 4px;
height: 110px;
width: 155px;
background-color: #222425;
}

#name{
position: relative;
top: 18px;
left: -1px;
background-color: #222425;
}

#email{
position: relative;
top: 66px;
left: -165px;
background-color: #222425;
}

#subject{
position: relative;
top: 44px;
left: -2px;
background-color: #222425;
}

#submit{
color: #222425;
background-color: aliceblue;
position: relative;
top: 19px;
padding: 5px;
}

#name, #email, #subject, #textarea{
border: 2px solid #e77f67;
border-radius: 5px;
}
#name:hover, #email:hover, #subject:hover, #textarea:hover{
background-color: #c7ecee;
}

#container5{
display: flex;
justify-content: center;
align-items: center;
height: 620px;
background-color: #eb4d4b;
}

#header-2{
font-size: 48px;
color: #2f3640;
position: relative;
bottom: 174px;
left: 439px;
font-family: 'Cabin';
}

#sub-container1{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
position: relative;
right: 100px;
}

#image3{
position: relative;
top: 62px;
right: 207px;
height: 294px;
width: 334px;
}

#date_time{
color: #ffffff;
position: relative;
bottom: 110px;
right: -24px;
font-family: 'Lato';
/* border: 2px solid red; */
font-size: 12.5px;
text-align: left ;
width: 186px;
}

#sub-container2{
display: flex;
justify-content: center;
align-items: center;
position: relative;
left: -206px;
top: 62px;
height: 296px;
width: 527px;
background-color: #222425;
}

#sub-container3{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
position: relative;
top: 14px;
right: 18px;
}

#header-3{
font-size: 27px;
position: relative;
bottom: 29px;
right: 21px;
color: #ffffff;
font-family: 'Lato';
}

#content-2{
position: relative;
bottom: -6px;
right: 10px;
color: #ffffff;
font-family: 'Source Sans Pro';
}

#container6{
display: flex;
flex-direction: column;
height: 620px;
}

#heading7{
color: white;
position: relative;
top: 44px;
margin-left: 126px;
font-size: 40px;
font-family: 'Cabin';
}

#caption6{
color: white;
position: relative;
top: 74px;
margin-left: 126px;
font-size: 20px;
font-family: 'Cabin';
}

.schedule{
display: flex;
position: relative;
top: 16px;
margin-left: 29px;
}

.days{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 333px;
width: 248px;
background-color: rgb(107, 124, 119);
border: 2px solid #222425;
top: 100px;
left:100px;
}

.schedule h2{
color: black;
position: relative;
top: -34px;
font-size: 25px;
text-align: center;
font-family: "Lato";
}

#routine{
  color: white;
  position: relative;
  top: 19px;
  left: -3px;
  font: 10px;
  align-items: center;
  font-family: "Source Sans Pro";
}

#container7{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

#ccare, #customercare{
height: 750px;
width: 760px;
}

#customercare{
display: flex;
background-color: #eb4d4b;
justify-content: center;
align-items: center;
}

#subbox{
background-color: #eb4d4b;
height: 622px;
width: 500px;
}

#subbox i{
font-size: 40px;
}

#cc-heading1{
position: relative;
top: 30px;
font-size: 30px;
font-family: 'Oxygen';
}

#cc-heading2{
position: relative;
top: 54px;
font-size: 20px;
font-family: 'Oxygen';
}

#content-3{
position: relative;
top: 72px;
font-size: 15px;
font-family: 'Comfortaa';
padding-bottom: 5px;
}

#second{
display: flex;
position: relative;
top: 111px;
flex-direction: row;
}

#second input{
border: none;
outline: none;
background: none;
border-bottom: 0.5px solid #222425;
}

#second label{
font-family: 'Manrope';
font-size: 14px;
}

#fill1{
margin-right: 5px;
}

#fill2{
position: relative;
right: -53px;
}

#fill3{
position: relative;
top: 77px;
right: 447px;
}

#fill4{
position: relative;
top: 77px;
right: 389px;
}

#fill5{
position: relative;
top: 156px;
right: 889px;
}

#name1, #name2, #gmail, #subj, #mssg{
padding-top: 25px;
}

#name1, #name2, #gmail, #subj{
width: 221px;
}

#mssg{
width: 500px;
}

#name1:hover, #name2:hover, #gmail:hover, #subj:hover, #mssg:hover{
border-bottom: 2px solid #222425;
}

#lbltext{
  font-size: 50px;
}

#Final{
position: relative;
  top: 246px;
  right: 1386px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #222425;
  border-radius: 20px;
  color: #ffffff;
  font-family: 'Questrial';
  cursor: pointer;
}


#Final:hover{
background-color:#eb4d4b ;
}
